*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header-section{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-maincontent{
    margin-left: 3%;
    text-align: center;
    padding: 300px;
}

.heading{
    font-size: 60px;
    color: white;
    margin-bottom: 15px;
}

.paragraph{
    font-size: 20px;
    margin-bottom: 50px;
    color: white;
    
}

.btn{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 25px;
    color: white;
}

.donation-section{
    margin-left: 3%;
    text-align: center;
    padding: 100px;
}

#donationparagrah{
    color: black
}

#donation-heading{
    color: black;
    margin-bottom: 25px;
}

.donation-amount{
    display: flex;
}

.amountof-money{
    width: 50%;
    margin-top: 50px;
}
.money{
    font-size: 50px;
    background-color: #f3f3f3;
    box-sizing: border-box;
    padding: 30px;
    margin-right: 25px;
    border-radius: 10px;
    
}

#twohundred{
    border: 2px solid #f94e4e;
    background-color: #ffd7d7;
    color: #f94e4e;
}

.amount-input{
    margin-top: 100px;
    font-size: 30px;
    border: none;
    margin-bottom: 60px;
}