body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header-section{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-maincontent{
    margin-left: 3%;
    text-align: center;
    padding: 250px;
}

.heading{
    font-size: 60px;
    color: white;
    margin-bottom: 15px;
}

.paragraph{
    font-size: 20px;
    margin-bottom: 50px;
    color: white;
    
}

.btn{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 25px;
    color: white;
}

.donation-section{
    margin-left: 3%;
    text-align: center;
    padding: 100px;
}

.donation-paragraph{
    color: black;
    font-size: 20px;
}

.donation-heading{
    color: black;
    margin-bottom: 25px;
    font-size: 60px;
}

.donation-amount{
    display: flex;
}

.amountof-money{
    width: 50%;
    margin-top: 50px;
}
.money{
    font-size: 50px;
    background-color: #f3f3f3;
    box-sizing: border-box;
    padding: 30px;
    margin-right: 25px;
    border-radius: 10px;
}

#twohundred{
    border: 2px solid #f94e4e;
    background-color: #ffd7d7;
    color: #f94e4e;
}

.amount-input{
    margin-top: 100px;
    font-size: 30px;
    border: 1px solid gray;
    margin-bottom: 60px;
    padding: 10px 10px;
}

.donationplan-heading{
    color: black;
    margin-top: 200px;
    font-size: 60px;
}

.donation-card{
    display: flex;
}

.card{
    width: 50%;
    margin-top: 60px;
    text-align: left;
    background-color: rgb(232, 232, 232);
    padding: 40px;
    margin-right: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}
.card-heading{
    margin-top: 30px;
    font-size: 35px;
}
.card-paragraph{
    margin-top: 30px;
    font-size: 15px;
}

#card1{
    background-color: rgb(229, 255, 254);
}

#card2{
    background-color: rgb(250, 255, 200);
}

#card3{
    background-color: rgb(255, 190, 199);
}

.contact{
    display: flex;
    
    margin-bottom: 150px;
    justify-content: space-evenly;
}

.contact-btn{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.footer {
    margin-top: 30px;
    background-color: black;
    padding: 40px;
    
}

.footer h1{
    font-size: 60px;
    color: white;
}
.footer p{
    font-size: 30px;
    color: white;
}